* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  #root {
    background: lightyellow;
    color: rgb(53, 47, 47);
    font-family: "Montserrat", sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .h1 {
      text-align: center;
      color: lightblue;
      font-size: 5vw;
    }

    input {
      height: 3vh;
      border: none;
      background-color: inherit;
      border-bottom: 0.5px black solid;
      padding: 0 0 0.4vw 0.4vw;
      &::placeholder {
        text-align: center;
        color: white;
      }
      &:focus {
        outline: none;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }

    input[type="submit"] {
      height: 4vh;
      width: 4.5vw;
      font-size: 1.3vw;
      font-weight: bold;
      border: none;
      // color: pink;
    }

    .items-box {
      height: 60vh;
      width: 40vw;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.4vw;
        line-height: 2.5;

        li {
          width: 30vw;
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .actions {
            width: 5vw;
            display: flex;
            justify-content: space-between;
          }

          .delete-btn {
            background: #204051;
            color: white;
            font-size: 1.5vw;
            border-radius: 70%;
            border: none;
            height: 4vh;
            width: 2vw;
          }

          .check-btn {
            background: pink;
            color: white;
            font-size: 1.5vw;
            border-radius: 70%;
            border: none;
            height: 4vh;
            width: 2vw;
          }

          input[type="checked"] {
          }
        }
      }
    }
  }
}
