@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
  color: rgb(53, 47, 47);

  #root {
    background: white;
    font-family: "Montserrat", sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .h1 {
      text-align: center;
      color: lightblue;
      font-size: 5vw;
    }
    span {
      font-size: 1.5vw;
    }
    input {
      height: 3vh;
      border: none;
      background-color: inherit;
      border-bottom: 0.5px black solid;
      padding: 0 0 0.4vw 0.4vw;
      &::placeholder {
        text-align: center;
        color: white;
      }
      &:focus {
        outline: none;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }

    input[type="submit"] {
      height: 4vh;
      width: 4.5vw;
      font-size: 1.3vw;
      font-weight: bold;
      border: none;
      // color: pink;
    }

    .items-box {
      height: 60vh;
      width: 40vw;

      ul {
        height: 63vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.4vw;
        line-height: 2.5;
        overflow: hidden;
        scroll-behavior: smooth;
        &:hover {
          overflow-y: scroll;
        }
        &::-webkit-scrollbar {
          width: 0.2em;
        }
        &::-webkit-scrollbar {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
        &::-webkit-scrollbar-thumb {
          background-color: #204051;
          outline: 1px solid rgb(53, 47, 47);
        }

        li {
          width: 35vw;
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 1vh;
          padding: 1vh 2vw;
          border: none;
          box-shadow: 2px 2px 3px rgb(53, 47, 47);
          //   &:hover{
          //       transform: scaleX(1.03);

          //   }
          .item-name {
            width: 25vw;
          }
          .actions {
            width: 5vw;
            display: flex;
            justify-content: space-between;
          }

          .delete-btn {
            background: #204051;
            color: white;
            font-size: 1.5vw;
            border-radius: 70%;
            border: none;
            height: 4vh;
            width: 2vw;
          }

          .check-btn {
            background: pink;
            color: white;
            font-size: 1.5vw;
            border-radius: 70%;
            border: none;
            height: 4vh;
            width: 2vw;
          }

          input[type="checked"] {
          }
        }
      }
    }
  }
}
